<h5 class="text-center">‘Star Wars’ has been automagically added to your ‘To Watch’ list.</h5>
<h4 class="text-center text-warning">Wrong category?</h4>
<p class="text-center">Choose the correct one:</p>
<div class="btn-group btn-group-block">
    <button class="btn btn-lg">To Buy <i class="fas fa-shopping-cart"></i></button>
    <button class="btn btn-lg">To Eat <i class="fas fa-utensils"></i></button>
    <button class="btn btn-lg">To Read <i class="fas fa-book"></i></button>
  </div>
<p></p>
