<div id="submitted-item">
  <h5 class="text-center">‘<span id="added-item">Star Wars</span>’ has been automagically added to your ‘<span id="added-list">To Watch</span>’ list.</h5>
  <h4 class="text-center text-warning">Wrong category?</h4>
  <p class="text-center">Choose the correct one:</p>
  <form method="POST" action="">
  <div class="btn-group btn-group-block changecat">
  </div>
</form>
</div>
