<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/spectre.min.css" type="text/css"/>
    <title>Home Page</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/896a3928c3.js"></script>
  </head>

  <body>
    <main class="container grid-lg">

      <header class="navbar">
        <section class="navbar-section">
          <a href="/" class="navbar-brand mr-2 mt-2"><h1><img src="/Listify.svg" width="32" height="32" />Listify</h1></a>
        </section>
        <section class="navbar-section">
          <% if (user) { %>
            <% if (user.full_name) { %>
              Welcome, <%= user.full_name %> <a href="/logout" class="btn btn-primary ml-2">Logout</a>
            <% } else { %>
              Welcome, guest <form method="POST" action="/<%= user.id %>">
                <button type="submit" class="btn btn-primary  ml-2">Sign up to save list</button></form> <a href="/logout" class="btn btn-primary ml-2">Cancel</a>
            <% } %>
          <% } else { %>
            <a href="/login/2" class="btn btn-primary">Fake Login</a>
          <% } %>
          <button class="btn btn-primary modal-toggle ml-2" data-modal="#login">Login</button>
          <button class="btn btn-primary modal-toggle ml-2" data-modal="#register">Register</button>
          <div class="modal modal-sm" id="login">
              <a href="#close" class="modal-overlay modal-close" aria-label="Close"></a>
              <div class="modal-container">
                  <div class="modal-header">
                      <a class="btn btn-clear close-modal float-right modal-close" aria-label="Close"></a>
                      <div class="modal-title h5">Login</div>
                  </div>
                  <div class="modal-body">
                      <form method="POST" action="">
                          <div class="form-group">
                              <label class="form-label" for="login-email">Email address</label>
                              <input class="form-input" type="text" id="login-email" placeholder="Email address">
                              <label class="form-label" for="login-password">Password</label>
                              <input class="form-input" type="password" id="login-password" placeholder="Password">
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary" type="submit">Submit</button>
                      <a class="btn btn-link modal-close" aria-label="Close">Close</a>
                  </div>
              </div>
            </div>

            <div class="modal modal-sm" id="register">
                <a href="#close" class="modal-overlay modal-close" aria-label="Close"></a>
                <div class="modal-container">
                    <div class="modal-header">
                        <a class="btn btn-clear close-modal float-right modal-close" aria-label="Close"></a>
                        <div class="modal-title h5">Register</div>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="">
                            <div class="form-group">
                                <label class="form-label" for="register-name">Name</label>
                                <input class="form-input" type="text" id="register-name" placeholder="Full name">
                                <label class="form-label" for="register-email">Email address</label>
                                <input class="form-input" type="text" id="register-email" placeholder="Email address">
                                <label class="form-label" for="register-password">Password</label>
                                <input class="form-input" type="password" id="register-password" placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <a class="btn btn-link modal-close" aria-label="Close">Close</a>
                    </div>
                </div>
              </div>
            </section>
          </header>



    <!-- form input control -->
    <div class="column col-12">
        <form method="POST" action="/user_id/add-task?_method=PUT" id="newtask">
        <label class="form-label text-center" for="task-to-add"><h2>Add a new item:</h2></label>
        <div class="input-group">
          <input class="form-input" type="text" id="task-to-add" name="task" placeholder="" required>
          <button class="btn btn-primary input-group-btn" type="submit">Add</button>
        </div>
    </form>
    <p class="text-center mt-2">Type the name of a movie, book, place to eat, or item to purchase, and we’ll do our best to  categorize it for you.</p>
    </div>

    <% include partials/_changeCategory %>

    <% if (user) { %>
      <% include partials/_listedItems %>
    <% } else { %>
    <div class="container grid-lg text-center">
      <img src="/listify-4-square.png" class="hero-listify" alt="Listify">
      <h2>Welcome to Listify!</h2>
      <p>We categorize your to-do items so you don’t have to. Go ahead and give it a try without signing up. Unsaved lists will be deleted after seven days.</p>
    </div>
    <% } %>

</main>
</body>
</html>
