// See: https://sass-lang.com/

/* Global color definitions */
:root {
  --beige: #f0f0f0;
  --grey: #807d76;
  --dark-blue: #4056a1;
  --to-watch: 220;
  --to-buy: 120;
  --to-eat: 15;
  --to-read: 315;
}

body {
  background-color: var(--beige) !important;
}

header .navbar-section h1 img {
  margin-right: 5px;
}

.changecat i {
  margin-left: 5px;
}

.to-do-items {
  ul.to-do-item {
    padding: 0 0.4rem;
    margin: 0;
    list-style: none;
    span {
      color: var(--grey);
      font-size: 0.8em;
      margin-right: 1em;
    }
    li.single-item {
      margin: 0.4rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.4rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.9);
      .menu-item .btn {
        display: block;
        width: 100%;
        text-align: left;
        color: #3b4351;
      }
      .menu-item:hover, .menu-item .btn:hover {
        color: #5755d9;
      }
      .menu-item:hover {
        background: #f1f1fc;
        color: #5755d9;
        border-radius: 3px;
      }
    }
    .only-item {
      min-height: 36px;
    }
    li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  h3 {
    margin: 0 -0.4rem;
    padding: 0.5rem 0.8rem;
    color: white;
  }
  h3 i {
    float: right;
    font-size: 1.2em;
  }
  .to-watch {
    background-color: hsl(var(--to-watch), 30%, 90%);
    h3, .btn.btn-primary {
      background-color: hsl(var(--to-watch), 50%, 50%);
      border: none;
    }
  }
  .to-read {
    background-color: hsl(var(--to-read), 30%, 90%);
    h3, .btn.btn-primary {
      background-color: hsl(var(--to-read), 60%, 50%);
      border: none;
    }
  }
  .to-eat {
    background-color: hsl(var(--to-eat), 30%, 90%);
    h3, .btn.btn-primary {
      background-color: hsl(var(--to-eat), 90%, 45%);
      border: none;
    }
  }
  .to-buy {
    background-color: hsl(var(--to-buy), 30%, 90%);
    h3, .btn.btn-primary {
      background-color: hsl(var(--to-buy), 50%, 50%);
      border: none;
    }
  }
}

.menu-badge i {
  margin-right: .4rem;
}

.hero-listify {
  width: 50%;
  max-width: 300px;
  margin: 5% 0;
}

#submitted-item {
  display: none;
  margin-bottom: 2em;
}
